.crx_extension_hide {
	display: none;
}

.crx-extension-icon {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	text-align: center;
	cursor: pointer;
	background-color: rgb(50, 205, 116);
}

.Translation_tlContainer__2Jt2_ {
	position: absolute;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
}
.Translation_tlContainer__2Jt2_ h2 {
	padding: 0;
	margin: 0;
}

.Translation_tlHeader__29IRr {
	display: flex;
	justify-content: space-between;
	background-color: #eee;
}

.Translation_tlBody__1SOcI,
.Translation_tlHeader__29IRr {
	padding: 10px;
}
.Translation_tlHeader__29IRr h2 {
	font-size: 18px;
	font-weight: 400;
}
.Translation_tlBody__1SOcI textarea {
	width: 100%;
	resize: none;
	border-color: #eee;
}

.Translation_tlContainer__2Jt2_ .ant-btn {
	line-height: 1.499;
	position: relative;
	display: inline-block;
	font-weight: 400;
	white-space: nowrap;
	text-align: center;
	background-image: none;
	border: 1px solid transparent;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
	cursor: pointer;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	height: 32px;
	padding: 0 15px;
	font-size: 14px;
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.65);
	background-color: #fff;
	border-color: #d9d9d9;
}

.Translation_tlContainer__2Jt2_ .anticon {
	display: inline-block;
	color: inherit;
	font-style: normal;
	line-height: 0;
	text-align: center;
	text-transform: none;
	vertical-align: -0.125em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
